@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661176652080') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron_down:before {
  content: "\e605";
}

.icon-chevron-down:before {
  content: "\e6a6";
}

.icon-chevron-down1:before {
  content: "\e7a9";
}

